/*.container{
    
    width: 460px;
    height: 260px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid gray;
}*/

body {
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612761180_134-p-goluboi-fon-minimalizm-225.png);
    background-repeat: no-repeat;
    background-size:cover
}
