body {
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613649555_54-p-fon-dlya-kulinarnoi-prezentatsii-91.jpg);
  background-repeat: no-repeat;
  background-size:cover
}

h1{
  text-align: center;
}

div { 
  color:black;
  font-style:italic;
  font-weight: bold;
  text-align:left;
  text-indent: 5px;
}

.error {
    margin-top: 20px;
    font-size: 24px;
    color: red;
  }

  .MainScreen{
    display:flex;
    border: 2px;
  }

  .leftmodal{
    flex: 20;
    flex-direction: row;
    align-items: center;
  }

  .enter-button,.exit_button,.menu_buttons{
    background-color:lightsteelblue;
    border: 0px;
    font-size: 20px;
    display: table;
    
  }

 


  
